.grid {
    margin: 100px 0 0;
  }

<<<<<<< HEAD
button{
  background-color: lightskyblue;
}

 .row {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
 }

 .hidden1,.hidden2,.hidden3{
  display: none;
  text-align: center;
 }
 
=======
  
>>>>>>> a9c126e0ecdcac770e7a351d56314d37f45677c7
