.grid {
    margin: 100px 0 0;
    margin-top: 10px;
  }

button{
  background-color: lightskyblue;
  height: 40px;
  width: 300px;
  margin-top: 15px;
  font-family:  'Times New Roman';
  color: black;
  font-weight: bold;
  font-size: 19px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
}

 .row {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
 }

 .hidden1,.hidden2,.hidden3{
  display: none;
  text-align: center;
 }
 
 .algo_title{
  font-family: 'Georgia';
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0.1px;
  margin-top: 20px;
 }

 .newtry{
  height: 50px;
  width: 300px;
  background-color: bisque;
  margin-top: 15px;
  margin-bottom: 0;
 }

 .node-square {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 5px; /* Adjust spacing as needed */
  margin-left: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.node-start-square {
  background-color: green;
}

.node-end-square {
  background-color: red;
}

.node-legend {
  display: flex; /* Display items horizontally */
  align-items: center; /* Align items vertically */
  justify-content: center;
  margin-top: 40px;
}

.node-legend-item {
  display: flex;
  align-items: center;
  padding-right: 45px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.node-block-square{
  background-color: black;
}

.blockage{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: 40px;
}

.node-path-square{
  background-color: yellow;
}

.desc{
  margin-top: 18px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  font-weight: 500;
  display: flex;
  align-items: left;
  justify-content: left;
}


