@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:35vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 60px;
}

.title{
  text-align: center;
    color: #fff;
    font-size: 60px;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.choose{
    position: absolute;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#wrapper{
  position: relative;
 
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.pathalgo{
  margin: 30px;
  height: 65px;
  font-size: 25px;
  cursor: pointer;
  align-items: center;
  
}

.searchalgo{
  margin: 50px;
  height: 65px;
  font-size: 25px;
}

.sortalgo{
  margin: 30px;
  height: 65px;
  font-size: 25px;
}

.algo_buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* Homepage.css */

/* .robot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .bubble {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: none; /* Hidden initially */
  /* }
  
  .robot:hover .bubble {
    display: block; /* Show bubble on hover */
  /* }
  
  .robot-image {
    /* Your styling for the robot image */
    /* width: 170px; /* Adjust the width as needed */
    /* height: 170px; /* Adjust the height as needed */
    /* border-radius: 50%; /* Assuming your robot image is circular */
  /* } */ 

  .robot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .robot:hover {
    opacity: 0.8;
  }
  
  .robot-image {
    width: 170px; /* Adjust the size of the robot image */
    height: 170px; /* Maintain aspect ratio */
  }
  
  .bubble {
    position: absolute;
    top: -20px;
    right: 70px; /* Adjust the position of the bubble */
    background-color: #0ff412;
    color: #000000;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    display: none; /* Initially hide the bubble */
    width: 80px;
    height: 20px;
  }
  
  .robot:hover .bubble {
    display: block; /* Show the bubble on hover */
  }
  
  /* Style for the robot when clicked */
  .robot-clicked {
    opacity: 0.5;
  }