/* Overlay.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.overlay-content {
  background: white;
  padding: 20px;
  position: relative;
}

.intro{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 15px;
  text-align: center;
}

.working1{
  font-family: 'Georgia';
  font-size: 20px;
  text-align: left;
}



.working2{
  font-family: 'Georgia';
  font-size: 20px;
  text-align: left;
  margin-top:8px;
}

.robot {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.robot:hover {
  opacity: 0.8;
}

.robot-image-new {
  width: 190px; /* Adjust the size of the robot image */
  height: 190px; /* Maintain aspect ratio */
}

.bubble-new {
  position: absolute;
  top: -20px;
  right: 70px; /* Adjust the position of the bubble */
  background-color: #e4eb18;
  color: #000000;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
  display: block; /* Initially hide the bubble */
  width: 80px;
  height: 20px;
}

.robot:hover .bubble {
  display: block; /* Show the bubble on hover */
}

/* Style for the robot when clicked */
.robot-clicked {
  opacity: 0.5;
}