.sort-visualizer {
  text-align: center;
  margin-top: 20px;
}

.array {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}


.array-element {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  transition: height 0.3s, background-color 0.3s;
}

.array-element.sorting {
  background-color: #e74c3c;
}

.array-element.swapping {
  background-color: #2ecc71;
}

.steps {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.step {
  display: flex;
  gap: 5px;
  justify-content: center; /* Center the content horizontally */
}

.step.considered span {
  color: blue; /* Change the color for considered steps */
}

.step.swap span {
  color: green; /* Change the color for swap steps */
}
