/* InsertionSortVisualizer.css */

.sort-visualizer {
  text-align: center;
  margin-top: 20px;
}

.is_desc {
  text-align: left;
  font-family: 'Georgia';
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
}

.is {
  text-align: center;
  font-size: 22px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-bottom: 25px;
}

.is-arrays {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.is-arrays-element {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3082f5; /* Green background color */
  color: rgb(5, 5, 5); /* White text color */
  border: 1.4px solid #02285e; /* Green border */
  height: 100px;
  width: 100px;
  font-size: 18px;
  font-weight: bold;
}

.is-arrays-element.considered {
  background-color: #f2f929; /* Blue background color */
  border-color: #02285e; /* Blue border color */
}

.is-steps1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.is-iteration {
  margin-bottom: 10px;
}

.is-array-element.swap {
  background-color: #d9534f; /* Red background color */
  border-color: #d43f3a; /* Red border color */
}

.is-step1 {
  display: flex;
  gap: 5px;
}

.isb1,.isb2,.isb3 {
  background-color: lightskyblue;
  height: 40px;
  width: 350px;
  margin: 10px;
  font-family: 'Geaorgia';
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.isb1:disabled, .isb2:disabled,.isb2:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
