/* BinarySearchVisualizer.css */
.binary-search-visualizer {
  margin-top: 20px;
}

.des1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  justify-content: left;
  align-content: left;
  margin-bottom: 10px;
  padding: 15px;
  padding-left: 25px;
}


.des3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  justify-content: left;
  margin-bottom: 10px;
  padding: 15px;
  padding-left: 25px;
  font-weight: bold;
}


.des5{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: bolder;
  text-align: left;
  justify-content: left;
  margin-bottom: 40px;
  margin-top: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.inputs{
  width: 100%;
  display: flex;
  justify-content: center;
 }

 .enter{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-style: italic;
}

.given_array{
  font-family: 'Georgia';
  font-size: 22px;
  margin-top: 30px;
  font-style: italic;
  margin-bottom: 50px;
}

.array {
  display: flex;
  gap: 110px;
  justify-content: space-evenly;
}

.array-element {
  padding: 1px;
  border: 1px solid #ccc;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.found {
  background-color: #8eff8e;
}

.not-found {
  background-color: #ff8e8e;
}

.middle {
  background-color: #add8e6;
}

.steps {
  display: flex;
  gap: 10px;
}

.step {
  font-weight: bold;
}

/* You can add more styles as needed */
