/* LinearSearchVisualizer.css */
.search-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.ls_desc{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  justify-content: left;
  margin-bottom: 30px;
  text-align: left;
  padding: 15px;
  padding-left: 25px;
  font-weight: 600;
}

.inputs{
 width: 100%;
 display: flex;
 justify-content: center;
}

.enter{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-style: italic;
}

.given_array{
  font-family: 'Georgia';
  font-size: 22px;
  margin-top: 30px;
  font-style: italic;
  margin-bottom: 70px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.search-container {
  /* display: flex; */
  align-items: center;
  margin-bottom: 20px;
}

.array {
  display: flex;
  gap: 1px;
  margin-top: 45px;
  margin-bottom: 30px;
}

.array-element {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: 1px solid #ccc;
  font-size: 23px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  color: white;
}

.array-element.found {
  background-color: #4caf50 !important;
}

.array-element.considered{
  background-color: #ffeb3b;
}

input {
  margin: 0 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 8px;
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
  height: 50px;
  margin-top: 50px;
}

.steps {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.step {
  padding: 5px;
  background-color: rgb(23, 22, 23);
  border: 1px solid #ccc;
  font-size: 20px;
  color: white;
}

.step.considered {
  background-color: #5bc0de;
}

.step.found {
  background-color: #5cb85c;
}

.step.not-found {
  background-color: #d9534f;
}
