.top-bar {
  margin-bottom: 20px;
  background-color: rgb(111, 231, 201);
  width: 100%;
  margin-top: 0px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.navbar{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

.selection{
  width: 200px;
  height: 33px;
  margin-left: 15px;
  margin-top: 0px;
  font-size: 20px;
}

.linear{
  font-size: 20px;
}

.binary{
  font-size: 20px;
}
